.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;      
    height: 300px;            
    margin: 0 auto;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.top-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

header {
    background-color: #2C3E50;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 36px;
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}


#controls {
    margin-bottom: 20px;
}

#country {
    padding: 8px;
    font-size: 16px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #2980b9;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

tbody tr td {
    font-size: 16px;
}
